:root {
    --azul-oscuro: #0d1b2a;
    --azul-claro: #1b263b;
    --amarillo: #ffcc00;
    --blanco: #ffffff;
}

/*ajusta el fondo para que sea mas largo o no*/
.container {
  padding-bottom: 50px;
  min-height: 100vh
}

/* Encabezadooo */
.contact-header {
  text-align: center;
  margin-bottom: 40px;
  padding: 0 20px;
}
.contact-header h1 {
  font-size: 2.5rem;
  color: var(--amarillo);
  margin-bottom: 15px;
}
.contact-header p {
  font-size: 1.2rem;
  color: var(--blanco);
  max-width: 600px;
  margin: 0 auto;
}

/* === FLIP CARD === */
.flip-card {
  background-color: transparent;
  width: 500px;
  max-width: 350px;
  height: 350px;
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgb(255, 255, 255);
}
/* Frente */
.flip-card-front {
  background-color: var(--azul-claro);
}
.flip-card-front img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
/* Reverso */
.flip-card-back {
  background-color: var(--azul-claro);
  color: rgb(255, 255, 255);
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.flip-card-back a {
  color: var(--blanco);
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}
.flip-card-back a:hover {
  color: var(--amarillo);
}

/* Info debajo de imagen */
.image-info {
  padding: 15px;
  text-align: center;
}
.image-info h3 {
  color: var(--blanco);
  margin-bottom: 5px;
}

/*Color de contacto */
.my-3 {
  color: var(--blanco);
}
