:root {
    --azul-oscuro: #0d1b2a;
    --azul-claro: #1b263b;
    --amarillo: #ffcc00;
    --blanco: #ffffff;
}

/*info bienvenidos*/
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--azul-oscuro);
    color: var(--blanco);
}

p {
    color: var(--blanco);
}

/* Botones de acceso */
.btn-acceso {
    background: transparent;
    color: var(--blanco);
    border: 2px solid var(--blanco);
    border-radius: 10px;
    padding: 10px 20px;
    text-decoration: none;
    transition: 0.3s;
}

/* Contenido principal del Home */
.main-home {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--blanco);
    border-radius: 15px;
    margin: 20px;
    padding: 20px;
    gap: 30px;
}

.imagen-home img {
    border-radius: 15px;
    max-width: 100%;
}

.texto-home {
    max-width: 400px;
}

/* Banner inferior */
.banner-cambios {
    margin: 20px;
    padding: 20px;
    border: 2px solid var(--blanco);
    border-radius: 15px;
    text-align: center;
    background-color: var(--azul-claro);
    font-weight: bold;
    font-size: 18px;
    color: var(--amarillo);
}

.tenor-gif-embed {
    max-width: 250px; /* tamaño máximo del gif */
    margin: 10px auto; /* centrado */
    border-radius: 10px; /* opcional, para suavizar bordes */
    overflow: hidden;
}