:root {
    --azul-oscuro: #0d1b2a;
    --azul-claro: #1b263b;
    --amarillo: #ffcc00;
    --blanco: #ffffff;
}

/*info bienvenidos*/
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--azul-oscuro);
    color: var(--blanco);
}

p {
    color: var(--blanco);
}


/* Botones de acceso */

.btn-acceso {
    background: transparent;
    color: var(--blanco);
    border: 2px solid var(--blanco);
    border-radius: 10px;
    padding: 10px 20px;
    text-decoration: none;
    transition: 0.3s;
}

.btn-acceso:hover {
    background-color: var(--amarillo);
    color: black;
}

/* Contenido principal del Home */
.main-home {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--blanco);
    border-radius: 15px;
    margin: 20px;
    padding: 20px;
    gap: 30px;
}

.imagen-home img {
    border-radius: 15px;
    max-width: 100%;
}

.texto-home {
    max-width: 400px;
}