
:root {
    --azul-oscuro: #0d1b2a;
    --azul-claro: #1b263b;
    --amarillo: #ffcc00;
    --blanco: #ffffff;
}


a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* Fondo y tipografía */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(135deg, var(--azul-oscuro) 0%, var(--azul-oscuro) 100%);
  line-height: 1.6;
  min-height: 100vh;
}



/* NAV, diseño de botones iguales para todos*/

/*Diseño margen botones menu*/
nav {
  box-shadow: 0 2px 10px rgb(255, 255, 255);
  padding: 0px 0;
  margin-bottom: 30px;
  border-radius: 0px;
}
.navbar {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}
.navbar li {
  margin: 0;
}

/*Ajuste tamanos btns menu*/
.navbar a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #000000;
  font-weight: 600;
  font-size: 18px;
  transition: all 0.3s ease;
  position: relative;
  padding: 20px 25px;
  border: 2px solid #ffffff;
  border-radius: 8px;
  background-color: #ffffff;
  min-width: 120px;
  min-height: 70px;
  text-align: center;
}
.navbar a:hover {
  color: #000000;
  background-color: var(--amarillo);
  border-color: var(--amarillo);
  transform: translateY(-3px);
  ;
}
.navbar a.active {
  color: #000000;
  background-color: var(--amarillo);
  border-color: var(--amarillo);
}



