a {
    text-decoration: none;
}

li {
    list-style: none;
}

nav {
    background-color: #dee1e4;
    padding: 10px 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

p {
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}
